<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="../app/bootstrap_makegood.php">

	<php>
		<server name="doc_root" value="../../"/>
		<server name="app_path" value="fuel/app"/>
		<server name="core_path" value="fuel/core"/>
		<server name="package_path" value="fuel/packages"/>
		<server name="vendor_path" value="fuel/vendor"/>
		<server name="FUEL_ENV" value="test"/>
	</php>

	<testsuites>
		<testsuite name="app">
			<directory suffix=".php">../app/tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../app/classes</directory>
			<directory suffix=".php">../app/tasks</directory>
			<exclude>
				<directory suffix=".php">../app/classes/controller</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>
